@font-face {
  font-family: 'arcane';
  src: url(../fonts/Arcane\ Nine.otf);
}
body{
	font-family: 'arcane-';
  letter-spacing: 1.5px;
}
#conteneur {
  float: right;
  width:38em;
  height:30em;
  color: black;
  font-family: arcane;
  transition: all .4s ease;
  text-align: center;
  opacity: 90%;
  margin-top: 1em;
  margin-right: 5em;
  letter-spacing: 0.15em;
}
h3{
  font-size: 4em;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 1em;
  font-weight: bold;
  text-align: center;
}
.T_Nom{
  font-size: 3.2em;
  font-weight: bold;
}
.txt_Jinx,
.txt_Vi,
.txt_Jayce{
  font-size: 2.55em;
}
.txt_Ekko,
.txt_Mel{
  font-size: 2.3em;
}
.txt_Caitlyn{
  font-size: 2.1em;
}
.image_conteneur{
  position: relative;
  height: 40em;
  width: 50em;
}
.txt_Ambessa,
.txt_Rictus{
  font-size: 2.7em;
}
.img_Zaun,
.img_Piltover,
.img_Noxus{
  position: absolute;
  margin-left: 8em;
  transition: all .4s ease;
  bottom: 0;
}
.JINX{
  width: 33em;
}
.VI{
  width: 35em;
  margin-top: 5em;
}
.EKKO{
  height: 40em;
}
.JAYCE{
  margin-left: 10em;
  width: auto;
  height: 39em;
}
.MEL{
  height: 40em;
}
.AMBESSA{
  width: 30em;
}
.RICTUS{
  height: 30em;
}
.Zaun, 
.Piltover,
.Noxus{
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8);
  width: 60%;
}

.titre{
  display: flex;
  align-items: center;
  margin-top: 2em;
}
.personnages{
  margin: auto;
  height: 10em;
}
@font-face {
  font-family: 'bowlby_oneregular';
  src: url('polices/Bowlby_One_font/bowlbyone-regular-webfont.woff2') format('woff2'),
    url('polices/Bowlby_One_font/bowlbyone-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.Slides,
.Slides2,
.Slides3 {
  display: none;
  height: 40em;
  background-color: rgba(153, 153, 153, 0.8);
}
.Slide_conteneur,
.Slide_conteneur2,
.Slide_conteneur3 {
  max-width: 98%;
  position: relative;
  margin: auto;
  padding-bottom: 2em;
}
/* 2 boutons */
.prev,
.next,
.prev2,
.next2,
.prev3,
.next3 {
  cursor: pointer;
  position: absolute;
  top: 16em;
  width: auto;
  padding: 15px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 5px 25px 25px 5px;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}
/* Position bouton droite */
.next,
.next2,
.next3 {
  right: -0.06em;
  border-radius: 25px 5px 5px 25px;
}
/* hover fleche */
.prev:hover,
.next:hover,
.prev2:hover,
.next2:hover,
.prev3:hover,
.next3:hover{
  background-color: white;
  color: black;
}
/* text slide */
.text {
  color: #ffffff;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 8px;
  width: 100%;
  text-align: center;
}
/* nombre position */
.nb {
  color: #ffffff;
  font-size: 1.4em;
  padding: 20px 10px;
  position: absolute;
  top: 0;
  }
/* bulle indication position */
.dot,
.dot2,
.dot3 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(238,238,238,255);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover,
.dot2:hover,
.dot3:hover {
  background-color: rgb(0, 0, 0);
}
/*animation de transition */
.transition {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
/* test adaptation screen*/
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
