@font-face {
  font-family: 'arcane';
  src: url(../fonts/Arcane\ Nine.otf);
}
body{
  font-family: 'arcane';
  background-image: url(../images/bg.webp);
  background-size: cover;
  /*background-position: center;*/
  margin : 0;
  padding : 0 ;
  color : white ;
  /*cursor: url(../images/menu/epee.png),auto;*/
}
a {
  color : white ;
  text-decoration: none;
}
#conteneur {
  float: right;
  width:33vw;
  height:35vw;
  color: black;
  font-family: arcane;
  transition: all .4s ease;
  text-align: center;
  opacity: 90%;
  margin-right: 3.5vw;
  letter-spacing: 0.1vw;
}
h3{
  font-size: 3.6vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}
.T_Nom{
  margin: 10px;
  font-size: 3.2vw;
  font-weight: bold;
}
.txt_Jinx,
.txt_Jayce{
  font-size: 2.4vw;
}
.txt_Vi{
  font-size: 2.3vw;
}
.txt_Ekko,
.txt_Mel{
  font-size: 2vw;
}
.txt_Caitlyn{
  font-size: 1.85vw;
  letter-spacing: 0.07vw;
  
}
.image_conteneur{
  position: relative;
  height: 35vw;
  width: 50vw;
}
.txt_Ambessa{
  font-size: 2.7vw;
}
.txt_Rictus{
  font-size: 2.5vw;
}
.img_Zaun,
.img_Piltover,
.img_Noxus{
  position: absolute;
  margin-left: 2vw;
  transition: all .4s ease;
  bottom: 0;
}
.JINX{
  width: 30vw;
}
.VI{
  width: 30vw;
  margin-top: 4.5vw;
}
.EKKO{
  height: 35vw;
  margin-left: -2.2vw;
}
.JAYCE{
  margin-left: 10vw;
  width: auto;
  height: 34vw;
}
.MEL{
  height: 35vw;
}
.AMBESSA{
  width: 21vw;
}
.RICTUS{
  height: 26vw;
}
.Zaun, 
.Piltover,
.Noxus{
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8);
  width: 70%;
}

.titre{
  display: flex;
  align-items: center;
  margin-top: 2vw;
  width: auto;
}
.personnages{
  margin: auto;
  height: 10vw;
}
.Slides,
.Slides2,
.Slides3 {
  display: none;
  height: 35vw;
  background-color: rgba(153, 153, 153, 0.8);
}
.Slide_conteneur,
.Slide_conteneur2,
.Slide_conteneur3 {
  max-width: 98%;
  position: relative;
  margin: auto;
  padding-bottom: 2vw;
}
/* 2 boutons */
.prev,
.next,
.prev2,
.next2,
.prev3,
.next3 {
  cursor: pointer;
  position: absolute;
  top: 16vw;
  width: auto;
  padding: 15px;
  color: white;
  font-weight: bold;
  font-size: 1vw;
  transition: 0.8s ease;
  border-radius: 1vw 5vw 5vw 1vw;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}
/* Position bouton droite */
.next,
.next2,
.next3 {
  right: -0.06vw;
  border-radius: 5vw 1vw 1vw 5vw;
}
/* hover fleche */
.prev:hover,
.next:hover,
.prev2:hover,
.next2:hover,
.prev3:hover,
.next3:hover{
  background-color: white;
  color: black;
}
/* text slide */
.text {
  color: #ffffff;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 8px;
  width: 100%;
  text-align: center;
}
/* nombre position */
.nb {
  color: #ffffff;
  font-size: 1.8vw;
  padding: 20px 10px;
  position: absolute;
  top: 0;
  }
/* bulle indication position */
.dot,
.dot2,
.dot3 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(238,238,238,255);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover,
.dot2:hover,
.dot3:hover {
  background-color: rgb(0, 0, 0);
}
/*animation de transition */
.transition {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
/* test adaptation screen*/
@media only screen and (max-width: 1000px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
  .Zaun,
  .Piltover,
  .Noxus{
    width: 95%;
    height: 20%;
  }
  .img_Zaun,
  .img_Piltover,
  .img_Noxus{
    position: absolute;
    transition: all .4s ease;
    bottom: 0;
  }
  .img_Zaun,
  .img_Piltover,
  .img_Noxus{
    margin-left: 2vw;
  }
  .JINX{
    width: 33vw;
  }
  .VI{
    width: 35vw;
    margin-top: 5vw;
  }
  .EKKO{
    height: 40vw;
  }
  .JAYCE{
    margin-left: 10vw;
    width: auto;
    height: 39vw;
  }
  .MEL{
    height: 40vw;
  }
  .AMBESSA{
    width: 25vw;
  }
  .RICTUS{
    height: 30vw;
  }
  #conteneur {
    width:35vw;
    height:25vw;
    margin-top: 0.8vw;
    margin-right: 5vw;
    letter-spacing: 0.15vw;
  }
  h3{
    font-size: 4vw;
    padding-top: 1vw;
  }
  .T_Nom{
    font-size: 3.2vw;
  }
  .txt_Jinx,
  .txt_Vi,
  .txt_Jayce{
    font-size: 2.55vw;
  }
  .txt_Ekko,
  .txt_Mel{
    font-size: 2.3vw;
  }
  .txt_Caitlyn{
    font-size: 2.1vw;
  }
  .image_conteneur{
    height: 40vw;
    width: 50vw;
  }
  .txt_Ambessa,
  .txt_Rictus{
    font-size: 2.7vw;
  }
  .Slides,
  .Slides2,
  .Slides3 {
    display: none;
    height: 40vw;
    background-color: rgba(153, 153, 153, 0.8);
  }
  .prev,
  .next,
  .prev2,
  .next2,
  .prev3,
  .next3 {
    font-size: 2.5vw;
  }
}
















/*Bouton*/
.bouton_retourClass{
  font-weight: bold;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 20%;
  width: 50px;
  height: 50px;
  font-size: 38px;
  text-align: center;
  cursor: pointer;
  box-shadow: none;
  display: none;
  justify-content: center;
  align-items: center;
  transition: background-color 0.4s, color 0.4s, border-color 0.4s;
}

.bouton_retourClass:hover{
  background-color: rgba(17, 17, 17, 0.3);
  color: black;
  border: 2px solid black;
}

/* BANDEAU */

.bandeau_perso {
  background-color: rgba(0,0,0,0.35) ;
  display: flex;
  justify-content: center ;
  color:white;
  font-size: 1.5vw;
  font-family: 'arcane';
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans;
}

.bandeau_perso ul{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 2vw;
  padding: 0;
}

.bandeau_perso ul li a{
  padding-right: 1vw;
  padding-left: 1vw;
  white-space: nowrap;
}

.bandeau_perso a:hover{
  color: black;
}


.arcane-logo {
  width: 23vw;  
}

.netflix-logo {
  width: 5vw;
  
}

.avis-image {
  width: 5vw;
}
