@font-face{
    font-family:arcane;src:url(../fonts/Arcane\ Nine.otf)
}

body{
    background-image: url(../images/bg.webp);
    background-size: cover;
    /*background-position: center;*/
    margin : 0;
    padding : 0 ;
    color : white ;
    /*cursor: url(../images/menu/epee.png),auto;*/
}

a {
    color : white ;
    text-decoration: none;
}

h1 {
    font-family: arcane, Arial, Helvetica, sans-serif;
    font-size : 6vw;
    margin: 3vw 0 0 0;
    text-align: center;
}


/* BANDEAU */

.bandeau_menu {
    background-color: rgba(0,0,0,0.35) ;
    display: flex;
    justify-content: center ;
    color:white;
    font-size: 1.5vw;
    font-family: arcane, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans;
}

.bandeau_menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 2vw;
    padding: 0;
}

.bandeau_menu ul li a{
    padding-right: 1vw;
    padding-left: 1vw;
    white-space: nowrap;
}

.bandeau_menu a:hover{
    color: black;  
}

.arcane-logo {
  width: 23vw;  
}

.netflix-logo {
  width: 4vw;
  
}

.avis-image {
    width: 5vw;
}

/* PAGE MENU */

.paragraphe_menu_titres {
    padding-left : 2vw;
}

.paragraphe_menu {
    text-align: justify;
    font-size : 2vw;
    padding : 5vw;
    margin : 2vw 5vw 10vw 5vw ;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 2vw;
}


.paragraphe_menu ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 2vw;
    padding: 0;
}


/* IMAGES MENU */

.arcane-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2vw;
    padding-bottom: 2vw;
    width: 50vw;
}

.saison {
    width: 20vw;
    margin-left: 5vw;
}

/* BOUTON */

.bouton_retourClass {
    font-weight: bold;
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    background-color: transparent;
    color: white;
    border: 0.3vw solid white;
    border-radius: 1vw;
    width: 6vw;
    height: 6vw;
    font-size: 4vw;
    text-align: center;
    cursor: pointer;
    box-shadow: none;
    display: none;
    justify-content: center;
    align-items: center;
    transition: background-color 0.4s, color 0.4s, border-color 0.4s;
  }
  
  .bouton_retourClass:hover {
    background-color: rgba(17, 17, 17, 0.3);
    color: black;
    border: 0.3vw solid black;
  }
