@font-face {
  font-family: 'arcane';
  src: url(../fonts/Arcane\ Nine.otf);
}
body{
	font-family: 'arcane-';
  letter-spacing: 1.5px;
}
#conteneur {
  float: right;
  width:25em;
  height:30em;
  color: black;
  font-family: arcane;
  transition: all .4s ease;
  text-align: center;
  opacity: 90%;
  margin-top: 1em;
  margin-right: 5em;
  letter-spacing: 0.3em;
}
h3{
  font-size: 4em;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 0.5em;
}
p1{
  font-size: 2em;
}
.img_Zaun{
  z-index: 2;
  width: 30em;
  height: auto;
  margin-left: 4em;
  margin-top: 4.88em;
  transition: all .4s ease;
}
.VI{
  margin-top: 9.6em;
}
.Zaun, 
.Piltover,
.Noxus{
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8);
  width: 60%;
}

.titre{
  display: flex;
  align-items: center;
  margin-top: 2em;
}
.personnages{
  margin: auto;
  height: 10em;
}
@font-face {
  font-family: 'bowlby_oneregular';
  src: url('polices/Bowlby_One_font/bowlbyone-regular-webfont.woff2') format('woff2'),
    url('polices/Bowlby_One_font/bowlbyone-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.Slides {
  display: none;
  height: 40em;
  background-color: rgba(153, 153, 153, 0.8);
}
.Slide_conteneur {
  max-width: 98%;
  position: relative;
  margin: auto;
  padding-bottom: 2em;
}
/* 2 boutons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 16em;
  width: auto;
  padding: 15px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 5px 25px 25px 5px;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}
  /* Position bouton droite */
  .next {
    right: -0.06em;
    border-radius: 25px 5px 5px 25px;
  }
  /* hover fleche */
  .prev:hover,
  .next:hover {
    background-color: white;
    color: black;
  }
  /* text slide */
  .text {
    color: #ffffff;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 8px;
    width: 100%;
    text-align: center;
  }
  /* nombre position */
  .nb {
    color: #ffffff;
    font-size: 0.9em;
    padding: 20px 10px;
    position: absolute;
    top: 0;
  }
  /* bulle indication position */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgba(238,238,238,255);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active,
  .dot:hover {
    background-color: rgb(0, 0, 0);
  }
  /*animation de transition */
  .transition {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  /* test adaptation screen*/
  @media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
      font-size: 11px;
    }
  }
