@font-face{
    font-family:arcane;src:url(../fonts/Arcane\ Nine.otf)
}

body{
    background-image: url(../images/bg.webp);
    background-size: cover;
    /*background-position: center;*/
    margin : 0;
    padding : 0 ;
    color : white ;
    /*cursor: url(../images/menu/epee.png),auto;*/
}

a {
    color : white ;
    text-decoration: none;
}

/* BANDEAU */

.bandeau_riot {
    background-color: rgba(0,0,0,0.35) ;
    display: flex;
    justify-content: center ;
    color:white;
    font-size: 1.5vw;
    font-family: arcane, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans;
}


.bandeau_riot ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 2vw;
    padding: 0;
}

.bandeau_riot ul li a{
    padding-right: 1vw;
    padding-left: 1vw;
    white-space: nowrap;
}

.bandeau_riot a:hover{
    color: black;  
}

.arcane-logo {
  width: 23vw;  
}

.netflix-logo {
  width: 4vw;
  
}

.avis-image {
    width: 5vw;
}

/* IMAGES */

.riotgames {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
}

.logoriot {
    width: 20vw;
    margin-left: 5vw;
}

.fondateurs {
    width: 14vw;
    display: block;
}

/* RIOT */

.paragraphe_riot {
    text-align: justify;
    font-size : 2vw;
    padding : 5vw;
    margin : 0 4vw 10vw 4vw ;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 2vw;
}


.paragraphe_riot ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 2vw;
    padding: 0;
}

.fonda {
    padding-left : 2vw;
}

.ima {
    display: flex; 
    flex-direction: column; 
    padding: 0; 
    list-style-type: none; 
}

.legende {
    font-size: 1.5vw;
    text-align: center;
    width: 10vw; 
    margin: 0 auto; 
    display: block; 
}

/* BOUTON */

.bouton_retourClass {
    font-weight: bold;
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    background-color: transparent;
    color: white;
    border: 0.3vw solid white;
    border-radius: 1vw;
    width: 6vw;
    height: 6vw;
    font-size: 4vw;
    text-align: center;
    cursor: pointer;
    box-shadow: none;
    display: none;
    justify-content: center;
    align-items: center;
    transition: background-color 0.4s, color 0.4s, border-color 0.4s;
  }
  
  .bouton_retourClass:hover {
    background-color: rgba(17, 17, 17, 0.3);
    color: black;
    border: 0.3vw solid black;
  }
